<div class="row text-center"><h2>All posts by <%= @user.name %>:</h2></div>

<div class="container-fluid text-center">
<table class="table table-hover">
<div class="row">
  <div class="col-md-3"
  <tr>
      <h2>Title</h2>
  </div>
  <div class="col-md-3">
      <h2>Link</h2>
  </div>
   <div class="col-md-3">
      <h2>Author</h2>
  </div>
  </tr>
</div>
<% @post.each do |f| %>
<tr>
<td>
  <div class="col-md-3">
      <h4><%= f.title %></h4>
  </div>
  <div class="col-md-3">
      <h4><%= link_to f.link %></h4>
  </div>
  <div class="col-md-3">
      <h4><%= f.user.name %></h4>
  </div>
  <div class="col-md-2">
      <h4><%= link_to "X", f, method: :delete, :data => {:confirm => "Are you sure?"}, class: "btn btn-primary" %></h4>
  </div>
</td>
</tr>


<% end %>

</table>
</div>